
extends layout.pug

block content
  .container
    .row
      .text-center.w-100
        .col-sm-12
          //- Card
          each question in questions
            .card
              .card-header Jack nicksone
              .card-body
                h5.card-title #{question.question}
                p.card-text #{question.description}
                a.btn.btn-primary(href="/questions/" + question._id) Go To Blog


